<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Node Js</title>
  </head>
  <body>
    <ul>
      <% movieList.forEach(function (movie){ %>
      <li>
        <h2><%= movie.name %></h2>
        <p><%= movie.gender %></p>
        <img src="<%= movie.image %>" />
      </li>
      <% })%>
    </ul>
  </body>
</html>
